{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">About</h1>
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                  <h2>Who am I?</h2>
                  <p> I am a mathematician. I'm also in love with a woman. At some point I knew I needed to marry this woman, so I embarked in my search for a ring, crashing head first into the diamond industry. Knowledge free (a.k.a. like an idiot). I looked around, visited a couple of jewelry stores, searched online... Nope. Nada. </p>
		  <p> I quickly learned that a diamond has 4 main characteristics that determine its final price, the revered 4 C's:</p>
		  <p><strong> Carat, Cut, Color and Clarity</strong></p>  
		  <p> Suddenly the price was a 4-dimensional function! We spend hours on Amazon just trying to compare 1 variable, and in here we have 4! More even than the spacial dimensions of our world, so it becomes hard to visualize and even weight accurately the difference between two diamonds.</p>
Did I mentioned I'm a mathematician? I needed to learn, and do it fast. Fortunately, there is data... oh yes. Sweet data. 
 
<!--<p>I mean, you have to admire the power of their marketing, and how pervasive it is in our society, but just the extent of their reign is overwhelming. </p> -->
		<!-- /.row -->
        
	    </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
	<br>
	<br>
	<br>
	<p>Share your comments and diamond search stories at hello@diamondscholar.io.</p>

    </div>
    <!-- /#wrapper -->


{% endblock %}
